<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SessionManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HiddenServlet1</display-name>
    <servlet-name>HiddenServlet1</servlet-name>
    <servlet-class>HiddenPackage.HiddenServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet1</servlet-name>
    <url-pattern>/HiddenServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenServlet2</display-name>
    <servlet-name>HiddenServlet2</servlet-name>
    <servlet-class>HiddenPackage.HiddenServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet2</servlet-name>
    <url-pattern>/HiddenServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urlServlet</display-name>
    <servlet-name>urlServlet</servlet-name>
    <servlet-class>URLM.urlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlServlet</servlet-name>
    <url-pattern>/urlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urlServlet2</display-name>
    <servlet-name>urlServlet2</servlet-name>
    <servlet-class>URLM.urlServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlServlet2</servlet-name>
    <url-pattern>/urlServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServlet1</display-name>
    <servlet-name>cookieServlet1</servlet-name>
    <servlet-class>cookies.cookieServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet1</servlet-name>
    <url-pattern>/cookieServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServlet2</display-name>
    <servlet-name>cookieServlet2</servlet-name>
    <servlet-class>cookies.cookieServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet2</servlet-name>
    <url-pattern>/cookieServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet1</display-name>
    <servlet-name>sessionServlet1</servlet-name>
    <servlet-class>session.sessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet1</servlet-name>
    <url-pattern>/sessionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet2</display-name>
    <servlet-name>sessionServlet2</servlet-name>
    <servlet-class>session.sessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet2</servlet-name>
    <url-pattern>/sessionServlet2</url-pattern>
  </servlet-mapping>
</web-app>
