<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWeb</servlet-name>
    <servlet-class>
  org.springframework.web.servlet.DispatcherServlet
  </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:beans.xml WEB-INF/HelloWeb-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWeb</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestSubmission</servlet-name>
    <servlet-class>
  com.servlet.RequestSubmission
  </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestSubmission</servlet-name>
    <url-pattern>/RequestSubmission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalRegistration</display-name>
    <servlet-name>HospitalRegistration</servlet-name>
    <servlet-class>com.servlet.HospitalRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalRegistration</servlet-name>
    <url-pattern>/HospitalRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBRegisterValidationController</display-name>
    <servlet-name>BBRegisterValidationController</servlet-name>
    <servlet-class>com.servlet.BBRegisterValidationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBRegisterValidationController</servlet-name>
    <url-pattern>/BBRegisterValidationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalHomeServlet</display-name>
    <servlet-name>HospitalHomeServlet</servlet-name>
    <servlet-class>com.servlet.HospitalHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalHomeServlet</servlet-name>
    <url-pattern>/HospitalHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDetailsServlet</display-name>
    <servlet-name>EditDetailsServlet</servlet-name>
    <servlet-class>com.servlet.EditDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDetailsServlet</servlet-name>
    <url-pattern>/EditDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestBloodServlet</display-name>
    <servlet-name>RequestBloodServlet</servlet-name>
    <servlet-class>com.servlet.RequestBloodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestBloodServlet</servlet-name>
    <url-pattern>/RequestBloodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelRequestServlet</display-name>
    <servlet-name>CancelRequestServlet</servlet-name>
    <servlet-class>com.servlet.CancelRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelRequestServlet</servlet-name>
    <url-pattern>/CancelRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodBankServlet</display-name>
    <servlet-name>BloodBankServlet</servlet-name>
    <servlet-class>com.servlet.BloodBankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodBankServlet</servlet-name>
    <url-pattern>/BloodBankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDetailsHospitalServlet</display-name>
    <servlet-name>EditDetailsHospitalServlet</servlet-name>
    <servlet-class>com.servlet.EditDetailsHospitalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDetailsHospitalServlet</servlet-name>
    <url-pattern>/EditDetailsHospitalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPasswordServlet</display-name>
    <servlet-name>EditPasswordServlet</servlet-name>
    <servlet-class>com.servlet.EditPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPasswordServlet</servlet-name>
    <url-pattern>/EditPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPasswordBB</display-name>
    <servlet-name>EditPasswordBB</servlet-name>
    <servlet-class>com.servlet.EditPasswordBB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPasswordBB</servlet-name>
    <url-pattern>/EditPasswordBB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmsTest</display-name>
    <servlet-name>SmsTest</servlet-name>
    <servlet-class>com.servlet.SmsTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmsTest</servlet-name>
    <url-pattern>/SmsTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CounterServlet2</display-name>
    <servlet-name>CounterServlet2</servlet-name>
    <servlet-class>com.servlet.CounterServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterServlet2</servlet-name>
    <url-pattern>/CounterServlet2</url-pattern>
  </servlet-mapping>
</web-app>