    <a style="cursor: pointer;" 
    routerLinkActive="active"
    [routerLink]="[index]"
    class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ chicken.name }}</h4>
        <p class="list-group-item-text">{{ chicken.description }}</p>
      </div>
      <div class="pull-right">
        <img  
        [src]="chicken.imgPath" 
        alt="{{ chicken.name }}" 
        class="img-responsive" 
        style="max-height: 100px;">
      </div>
    </a>