<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookMyShow</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>displayMovies</display-name>
    <servlet-name>displayMovies</servlet-name>
    <servlet-class>com.psl.controller.displayMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayMovies</servlet-name>
    <url-pattern>/displayMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showTiming</display-name>
    <servlet-name>showTiming</servlet-name>
    <servlet-class>com.psl.controller.showTiming</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showTiming</servlet-name>
    <url-pattern>/showTiming</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookShow</display-name>
    <servlet-name>bookShow</servlet-name>
    <servlet-class>com.psl.controller.bookShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookShow</servlet-name>
    <url-pattern>/bookShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayByName</display-name>
    <servlet-name>displayByName</servlet-name>
    <servlet-class>com.psl.controller.displayByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayByName</servlet-name>
    <url-pattern>/displayByName</url-pattern>
  </servlet-mapping>
</web-app>